#t1 {
    color:  red;
}
#t2 {
    color:  blue;
}
#caixa {
    background-color: darkslategrey;
    padding-left: 360px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
}
